<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Admin Dashboard</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="../../admin/vendors/iconfonts/font-awesome/css/all.min.css">
  <link rel="stylesheet" href="../../admin/vendors/css/vendor.bundle.base.css">
  <link rel="stylesheet" href="../../admin/vendors/css/vendor.bundle.addons.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="../../admin/css/style.css">
  <!-- endinject -->
</head>
<body class="horizontal-menu">
  <div class="container-scroller">
    <nav class="navbar horizontal-layout-navbar fixed-top navbar-expand-lg">
      <div class="navbar-menu-wrapper d-flex flex-grow">
        <ul class="navbar-nav navbar-nav-left collapse navbar-collapse" id="horizontal-top-example">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="/admin"  aria-expanded="false">
              Dashboard
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="employees-dropdown" data-toggle="dropdown" aria-expanded="false">
              Blog
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="employees-dropdown">
              <a class="dropdown-item" href="/admin/posts">
                <i class="mdi mdi-monitor-multiple mr-2 text-primary"></i>
                Posts
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/admin/addpost">
                <i class="mdi mdi-scale-balance mr-2 text-primary"></i>
                Add Post
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/admin/visitors" id="actions-dropdown" data-toggle="dropdown" aria-expanded="false">
              Affiliates & Visitors
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="actions-dropdown">
              <a class="dropdown-item" href="#">
                <i class="mdi mdi-launch mr-2 text-primary"></i>
                Affiliates
              </a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">
                <i class="fa fa-user-multiple-outline mr-2 text-primary"></i>
                Visitors
              </a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false">
              Addresses
            </a>
            <div class="dropdown-menu navbar-dropdown" aria-labelledby="actions-dropdown">
              <a class="dropdown-item" href="/admin/addresses">
                <i class="mdi mdi-launch mr-2 text-primary"></i>
                Addresses
              </a>
              <a class="dropdown-item" href="/admin/addaddress">
                <i class="mdi mdi-launch mr-2 text-primary"></i>
                Add Address
              </a>
            </div>
          </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center ml-auto" type="button" data-toggle="collapse" data-target="#horizontal-top-example">
          <span class="fa fa-bars"></span>
        </button>
      </div>
    </nav>
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="page-header">
            <h3 class="page-title">
              Dashboard
            </h3>
          </div>
          <div class="row grid-margin">
            <div class="col-12">
              <div class="card card-statistics">
                <div class="card-body">
                  <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fa fa-user mr-2"></i>
                          Transactions
                        </p>
                        <h2><%= orders %></h2>
                      </div>
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-users mr-2"></i>
                          Visitors
                        </p>
                        <h2><%= clicks %></h2>
                      </div>
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-check mr-2"></i>
                          Completed
                        </p>
                        <h2><%= completed_tx %></h2>
                      </div>
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-circle-notch mr-2"></i>
                          Pending
                        </p>
                        <h2><%= pending %></h2>
                      </div>
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-shopping-cart mr-2"></i>
                          Total Revenue
                        </p>
                        <h2><%= revenue %></h2>
                      </div>
                      <div class="statistics-item">
                        <p>
                          <i class="icon-sm fas fa-book mr-2"></i>
                          Addresses
                        </p>
                        <h2><%= addresses_unused %></h2>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Data table</h4>
              <div class="row">
                <div class="col-12">
                  <div class="table-responsive">
                    <table id="order-listing" class="table">
                      <thead>
                        <tr>
                            <th>Order #</th>
                            <th>ID</th>
                            <th>Date</th>
                            <th>Email</th>
                            <th>BTC Amount</th>
                            <th>USD Amount</th>
                            <th>Status</th>
                            <th>Complete</th>
                            <th>Delete</th>
                        </tr>
                      </thead>
                      <tbody>
                        <%- table %>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p>

        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <script>document.write(new Date().getFullYear());</script> . All rights reserved.</span>
            <span class="text-muted text-center text-sm-right d-block d-sm-inline-block">Server Time: <script>document.write(new Date());</script></span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="../../admin/vendors/js/vendor.bundle.base.js"></script>
  <script src="../../admin/vendors/js/vendor.bundle.addons.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="../../admin/js/off-canvas.js"></script>
  <script src="../../admin/js/hoverable-collapse.js"></script>
  <script src="../../admin/js/misc.js"></script>
  <script src="../../admin/js/settings.js"></script>
  <script src="../../admin/js/todolist.js"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="../../admin/js/dashboard.js"></script>
  <script src="../../admin/js/data-table.js"></script>
  <!-- End custom js for this page-->
</body>

</html>
