<head><title>BTC2PP - Bitcoin to PayPal exchange!</title><link rel='stylesheet' type='text/css' href='/fontawesome-free-5.12.1-web/css/fontawesome.min.css'>
  <link rel='stylesheet' href='css/tx.css'><link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"></head>
  <script>
  function clicker(){
    var id = '<%= id %>'
    var email = '<%= email %>'
    var amount = '<%= amount %>'
    var text = 'ID: ' + id + '\nEmail: '+ email +'\nAmount: '+ amount +'BTC'
    var filename = 'btc2pp.net-'+id
    download(filename, text)
  }

  function download(filename, text) {
    var element = document.createElement('a');
    element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
    element.setAttribute('download', filename);

    element.style.display = 'none';
    document.body.appendChild(element);

    element.click();
console.log(element)
    document.body.removeChild(element);
  }

  function copy() {
    var copyText = '<%= id %>';
    navigator.clipboard.writeText(copyText);
    alert("ID copied to clipboard: " + copyText);
  }

  var timeleft = 60;
  var timeleft_ms = timeleft * 1000;
  var timeout = setTimeout("location.reload(true);",timeleft_ms);

  var downloadTimer = setInterval(function(){
    if(timeleft <= 0){
      clearInterval(downloadTimer);
      document.getElementById("countdown").innerHTML = "Reload";
    } else {
      document.getElementById("countdown").innerHTML = "<sup>Refresh in "+timeleft + " seconds!</sup>";
    }
    timeleft -= 1;
  }, 1000);

  function resetTimeout() {
    clearTimeout(timeout);
    timeout = setTimeout("location.reload(true);",timeleft_ms);
  }
  </script>


  <body>
    <div class='wrapper fadeInDown'>
      <div id='formContent'>
        <h2>ID: <%= id %> <a onClick='copy()'><i style="color:white">.</i><i class="fa fa-clipboard" style="color:#cccccc;"></i></a><a onClick="clicker()"><i style="color:white">..</i><i class="fa fa-download" style="color:#cccccc;"></i></a></h2>
        <div>PayPal Email: <br><strong><%= email %></strong></div><br>
        <div>Amount: <br><strong><%= amount %></strong><br><strong>(<%= receive %> USD)</strong></div>
        <div><br>Depost Address:<strong><br><%= address %></strong><br><sup>Please send funds in one transaction!</sup></div>
        <img src="<%= qr %>" alt='Bitcoin QR  code'><br>
        <div><br>Status:<strong><br><%= status %></strong><br><div id='countdown' class='underlineHover'></div></div><br>
      <div id='formFooter'>
        <a class='underlineHover' href='/'>btc2pp.net</a>
      </div>
</div>
