<head><title>BTC2PP - Bitcoin to PayPal exchange!</title><link rel='stylesheet' type='text/css' href='fonts/font-awesome/css/font-awesome.css'>
  <link rel='stylesheet' href='css/tx.css'></head><body>
    <div class='wrapper fadeInDown'>
      <div id='formContent'>
        <h2>ID: <%= id %></h2>
        <div>PayPal Email: <br><strong><%= email %></strong></div><br>
        <div>Amount: <br><strong><%= amount %></strong></div>
        <div><br>Depost Address<strong><br><%= address %></strong></div>
        <div><br>Status:<strong><br><%= status %></strong></div><br>
      <div id='formFooter'>
      <a class='underlineHover' href='/'>btc2pp.net</a>
    </div>
  </div>
</div>
